@tailwind base;
@tailwind components;
@tailwind utilities;

form>div {
  @apply flex flex-col gap-2;
}

.light {
  background-color: #ffffff;
  color: #111;
}

.dark {
  background-color: #111;
  color: #ffffff;
}

.theme {
  transition: 1s all ease;
}